[submodule "external/OpenMontage"]
	path = external/OpenMontage
	url = https://github.com/calesthio/OpenMontage.git
	shallow = true
[submodule "external/OpenCut"]
	path = external/OpenCut
	url = https://github.com/OpenCut-app/OpenCut-classic.git
	shallow = true
